<a href="https://colab.research.google.com/github/ujkim25/sparta_ai_engineering/blob/main/%EC%8A%A4%ED%8C%8C%EB%A5%B4%ED%83%80_2025_09_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def greet():
    print("안녕하세요")
    print("함수는 유용해요")
    print("="*30)

In [3]:
greet()

안녕하세요
함수는 유용해요
==============================

In [6]:
def greet_person(name):
    print(f"안녕하세요, {name}님")

In [7]:
greet_person("김우진")

안녕하세요, 김우진님

In [8]:
greet_person(name="김명진")

안녕하세요, 김명진님

In [10]:
def introduce(name,age):
    print(f"제 이름은 {name}이고 나이는 {age}입니다.")

In [11]:
introduce("김우진",25)

제 이름은 김우진이고 나이는 25입니다.

In [12]:
def calculate(width,height):
    area=width*height
    print(area,width,height)

In [13]:
calculate(10.1,20.3)

205.03 10.1 20.3

In [14]:
def add_numbers(a,b):
    result=a+b
    return result

In [15]:
add_numbers(3,5)

8

In [16]:
print(add_numbers(3,5))

8

In [18]:
def add_numbers(a,b):
    result=a+b
    return result
    result_2=a*b

In [19]:
add_numbers(3,5)

8

In [20]:
def add_numbers(a,b):
    if type(a)==str:
        return "ERROR"
    result=a+b
    return result

In [21]:
add_numbers(3,5)

8

In [22]:
add_numbers('3',5)

'ERROR'

In [25]:
def get_grade(score):
    if score>=90:
        return 'A'
    elif score>=80:
        return 'B'
    elif score>=70:
        return 'C'
    elif score>=60:
        return 'D'
    else:
        return 'F'

In [26]:
get_grade(65)

'D'

In [27]:
fruits=list(["사과","딸기","바나나"])

In [28]:
fruits

['사과', '딸기', '바나나']

In [29]:
a=fruits[0]
b=fruits[1]
c=fruits[2]

In [30]:
a,b,c

('사과', '딸기', '바나나')

In [31]:
aa, bb, cc = ['사과','바나나','오렌지']
aa,bb,cc

('사과', '바나나', '오렌지')

In [32]:
def sum_all(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total

In [33]:
sum_all(1,2,3)

6

In [36]:
def sum_all2(a,b,*numbers):
    print(numbers)
    total = 0
    for num in numbers:
        total += num
    return total

In [37]:
sum_all2(1,2,3,4,5)

(3, 4, 5)

12

In [63]:
class Person:
    def __init__(self,name,age,height):
        self.name=name
        self.age=age
        # height을 받았으면 self.height=height 해주자

    def introduce(self):
        print(f"안녕하세요 {self.name}입니다. 나이는 {self.age}입니다")

    def happy_birthday(self):
        self.age+=1
        print(f"{self.name}님의 생일입니다. 이제는 {self.age}살이 되었습니다")

    def location(self, 위치):
        print(f"{self.name}은 현재 {위치}에 있습니다")
        self.위치 = 위치

In [64]:
person_1 = Person('김철수',25,180)

In [45]:
print(person_1)

<__main__.Person object at 0x7af3aae283e0>

In [46]:
person_1.name

'김철수'

In [47]:
person_1.age

25

In [48]:
person_1.introduce()

안녕하세요 김철수입니다. 나이는 25입니다

In [52]:
def add_numbers(a,b,c=None):
    print(c)
    print(a+b)

In [53]:
add_numbers(1,2)

None
3

In [57]:
person_1.happy_birthday()

김철수님의 생일입니다. 이제는 26살이 되었습니다

In [58]:
person_1.age += 1

In [59]:
person_1.age

27

self는 인스턴스 자기 자신을 지칭

In [65]:
person_1.location('대한민국')

김철수은 현재 대한민국에 있습니다

In [66]:
person_1.위치

'대한민국'

In [92]:
class BankAccount:
    def __init__(self,owner,initial_balance=0):
        self.owner=owner
        self.balance=initial_balance
        self.transaction_history=[] # 매개변수로 받는 속성 이외에도 자유롭게 정의할 수 있다

    def deposit(self, amount):
        if amount>0:
            self.balance+=amount
            self.transaction_history.append(f"입금: +{amount}원")
            print(f"{amount}원이 입금되었습니다. 잔액: {self.balance}원")
        else:
            print("입금액은 0보다 커야합니다")

    def withdraw(self,amount):
        if amount>0 and amount <= self.balance:
            self.balance -= amount
            self.transaction_history.append(f"출금: -{amount}원")
            print(f"{amount}원이 출금되었습니다. 잔액: {self.balance}원")
        else:
            print("출금할 수 없습니다.")

    def get_balance(self): # 조회용의 메소드를 따로 만든다. 외부에서 사용하기 위해
        return self.balance

    def get_history(self):
        return self.transaction_history

In [93]:
account = BankAccount("김철수",initial_balance=100000)

In [85]:
account.transaction_history

[]

In [86]:
account.deposit(500)

500원이 입금되었습니다. 잔액: 100500원

In [87]:
account.balance

100500

In [88]:
account.transaction_history

['입금: +500원']

In [89]:
account.withdraw(1000)

1000원이 출금되었습니다. 잔액: 99500원

In [90]:
account.balance

99500

In [91]:
account.transaction_history

['입금: +500원', '출금: -1000원']

In [94]:
account.balance

100000

In [95]:
account.withdraw(1500)

1500원이 출금되었습니다. 잔액: 98500원

In [96]:
account.balance

98500

In [97]:
account.get_balance()

98500

In [107]:
class Animal:
    def __init__(self,name,species):
        self.name=name
        self.species=species

    def make_sound(self):
        print(f"{self.name}가 소리를 냅니다")

    def eat(self):
        print(f"{self.name}가 음식을 먹습니다")

In [117]:
class Dog(Animal):
    def __init__(self,name,breed):
        super().__init__(name,'개') # super()는 Animal를 가리킨다
        # super().__init__(name,species) 이렇게 되면 Dog 클래스에서는 species를 받지 않기 때문에 에러가 난다
        # 내가 부모 것을 상속 받으면, 상속 받은 것도 초기화해야한다
        self.breed=breed

In [118]:
dog_1 = Dog("구름이","말티즈")

In [119]:
dog_1.breed

'말티즈'

In [120]:
dog_1.species

'개'

In [121]:
dog_1.name

'구름이'

In [122]:
dog_1.eat()

구름이가 음식을 먹습니다

In [123]:
dog_1.make_sound()

구름이가 소리를 냅니다

In [124]:
import math

In [125]:
math.pi

3.141592653589793

In [126]:
math.sqrt(16)

4.0

In [127]:
math.floor(3.8)

3

In [128]:
import datetime

In [131]:
datetime.datetime.now()

datetime.datetime(2025, 9, 25, 13, 33, 17, 407945)

In [132]:
now = datetime.datetime.now()

In [133]:
now

datetime.datetime(2025, 9, 25, 13, 34, 10, 475152)

In [134]:
now.year

2025

In [135]:
now.month

9

In [136]:
now.day

25

In [138]:
now.hour

13

In [139]:
now.minute

34

In [140]:
now.second

10

In [141]:
now.microsecond

475152

In [143]:
now + datetime.timedelta(days=10)

datetime.datetime(2025, 10, 5, 13, 34, 10, 475152)

In [144]:
now - datetime.timedelta(days=10)

datetime.datetime(2025, 9, 15, 13, 34, 10, 475152)

In [149]:
now.strftime("%Y-%m-%d")

'2025-09-25'

In [150]:
now.strftime("%y|%m|%d")

'25|09|25'

In [151]:
time = "2025-09-25"

In [152]:
type(time)

str

In [155]:
a=datetime.datetime.strptime(time, "%Y-%m-%d")

In [156]:
type(a)

datetime.datetime

In [157]:
a

datetime.datetime(2025, 9, 25, 0, 0)