<a href="https://colab.research.google.com/github/ujkim25/sparta_ai_engineering/blob/main/%EC%8A%A4%ED%8C%8C%EB%A5%B4%ED%83%80_9_23_%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world !")

Hello world !

In [ ]:
print("Hello world !")

Hello world !

In [ ]:
a=10

In [ ]:
print(a)

10

In [ ]:
name = "김철수"
age=25
height=175.5

In [ ]:
print(name)
print(age)
print(height)

김철수
25
175.5

In [ ]:
age=26
print(age)

26

In [ ]:
birth_year=2024-age

In [ ]:
print(birth_year)

1998

In [ ]:
birth_year=(2024-age)/2

In [ ]:
print(birth_year)

999.0

In [ ]:
print(0.0)

0.0

In [ ]:
student_count=30
temperature=-5

print("학생 수: ", student_count, "| 자료형", type(student_count))

학생 수:  30 | 자료형 <class 'int'>

In [ ]:
pi=3.14159
weight=-65.5

print("원주율: ",pi,"|자료형:",type(pi))

print("몸무게: ",weight,"|자료형:",type(weight))

원주율:  3.14159 |자료형: <class 'float'>
몸무게:  -65.5 |자료형: <class 'float'>

In [ ]:
greeting="안녕하세요"
수업이름='python기초'

print("인사말:",greeting,"| 자료형:",type(greeting))

print("수업이름:",수업이름,"| 자료형:",type(수업이름))

인사말: 안녕하세요 | 자료형: <class 'str'>
수업이름: python기초 | 자료형: <class 'str'>

In [ ]:
a=1
b=2

print(a,b)

1 2

In [ ]:
is_student=True
is_raining=False

print("학생인가요? :",is_student,"| 자료형:",type(is_student))

print("비가 오나요? :",is_raining,"| 자료형:",type(is_raining))

학생인가요? : True | 자료형: <class 'bool'>
비가 오나요? : False | 자료형: <class 'bool'>

In [ ]:
a_3=3

In [ ]:
print(a_3)

3

In [ ]:
print("안녕하세요!")
print("=|"*30)

안녕하세요!
=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|

In [ ]:
name="김철수"
age=25
city="서울"

print("이름:",name,"나이:",age,"거주지:",city)

이름: 김철수 나이: 25 거주지: 서울

In [ ]:
print("사과","바나나","딸기",sep=" ") #구분자 바꾸기

사과 바나나 딸기

In [ ]:
print("첫번째 줄",end=" ")
print("같은 줄에 출력 됩니다!")

첫번째 줄 같은 줄에 출력 됩니다!

In [ ]:
print("첫번째 줄")
print("같은 줄에 출력 됩니다!")

첫번째 줄
같은 줄에 출력 됩니다!

In [ ]:
message=""" #여러 줄 문자열 출력
안녕
나는 AI야
"""
print(message)

 #여러 줄 문자열 출력
안녕
나는 AI야

In [ ]:
message

' #여러 줄 문자열 출력\n안녕\n나는 AI야\n'

In [ ]:
user_name=input("이름을 입력하세요: ")

이름을 입력하세요: 김우진

In [ ]:
user_name

'김우진'

In [ ]:
print("안녕하세요",user_name,"님!")

안녕하세요 김우진 님!

In [ ]:
name="김민수"
print("이름:", name)
print(f"이름: {name}")

age=22
height=175.5
weight=70.2

print(f"내년 나이: {age+1}세")
print(f"BMI 지수: {weight/(height/100)**2:.2f}")

test=f"이름: {name}"

이름: 김민수
이름: 김민수
내년 나이: 23세
BMI 지수: 22.79

In [ ]:
test

'이름: 김민수'

In [ ]:
10//3

3

In [ ]:
10%3

1

In [ ]:
price=1234567

In [ ]:
print(f"가격: {price:,}원")
print(f"가격: {price:>10,}원")
print(f"가격: {price:<10,}원")

가격: 1,234,567원
가격:  1,234,567원
가격: 1,234,567 원

In [ ]:
subject="파이썬"
score=95
grade='A'

print(f"{name}님의 {subject} 성적은 {score}점 {grade}입니다.")
print(f"평균보다 {score-80}점 높습니다.")

김민수님의 파이썬 성적은 95점 A입니다.
평균보다 15점 높습니다.

In [ ]:
info=f"""
학생 정보 카드
==============
이름: {name}
나이: {age}세
키: {height}cm
몸무게: {weight}kg
BMI: {weight/(height/100)**2:.5f}
"""

In [ ]:
#prompting 할 때 formating이 중요하다. f string이랑 .format()

template1="안녕하세요! 저는 {}이고, {}세입니다."

In [ ]:
print(template1.format("김철수",25))

안녕하세요! 저는 김철수이고, 25세입니다.

In [ ]:
template2="안녕하세요! 저는 {0}이고, {2}세입니다"

In [ ]:
print(template2.format("이영희",23,26))

안녕하세요! 저는 이영희이고, 26세입니다

In [ ]:
template3="안녕하세요! 저는 {name}이고, {age}세입니다." #이렇게 명시해 주는게 가장 좋은 방식

In [ ]:
print(template3.format(name="김철수",age=23))

안녕하세요! 저는 김철수이고, 23세입니다.

In [ ]:
template="""
당신은 {role}입니다.
다음 주제에 대해 {style} 스타일로 설명해주세요:
주제: {topic}
"""

In [ ]:
message_teacher=template.format(role="교사",style="유머러스",topic="파이썬")

In [ ]:
print(message_teacher)

당신은 교사입니다.
다음 주제에 대해 유머러스 스타일로 설명해주세요:
주제: 파이썬

.format ()는 미리 템플릿을 만들어둔다

In [ ]:
name ="김우진"
age=30

print("안녕하세요, 제 이름은 %s입니다, 나이는 %s입니다." % (name, age))

안녕하세요, 제 이름은 김우진입니다, 나이는 30입니다.

In [ ]:
template="안녕하세요, 제 이름은 %s입니다, 나이는 %s입니다."

In [ ]:
print(template % (name, age))

안녕하세요, 제 이름은 김우진입니다, 나이는 30입니다.

In [ ]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [ ]:
text = "나는 사람이다 123"

In [ ]:
123 in text

TypeError: 'in <string>' requires string as left operand, not int

In [ ]:
"123" in text

True

In [ ]:
a=1
b=1

In [ ]:
a=[1,2]
c=[1,2]

In [ ]:
a==c

True

In [ ]:
a is c #is는 같은 객체인지를 묻는 것!

False

In [ ]:
a=1 #python은 call by reference
b=a
print(a,b)

1 1

In [ ]:
b=2

In [ ]:
print(a)

1